body{
  background-color: #2596be;
  color:black;
  text-align:left;
  font-family:crossorigin;
  margin-left: 10%;
  margin-right: 10%
}

.heading{
  font-family:'Agu Display',cursive;
  text-align:center;
  font-size:300%;
  color: black;
  text-shadow: #145369 3px 3px;
}

h2.heading{
  font-size: 200%;
  
}

h3.heading{
  font-size: 150%;
}

.bordered{
  border-style: solid;
  border-color: #145369;
  border-width: 3px;
  padding: 5px;
  border-radius: 9px;
  margin: 5px;
  background-color: #4588fc;
  color:#333333 ;
}

a{
  text-decoration:none;
  font-weight:bold;
  color:#555555;
}

a:hover {
  color: black;  
}

hr{
  height: 3px;
  border:0px;
  background-color:#145369;
  
}

#footer {
  font-size: 150%;
  text-align: center;
}
