body{
  margin:0px;
  background-color: gray;
  color: white;
}

#content, #album, #info{
  float:left
}

#content{
  border:solid 1px black; 
  width:40%;
  padding:1%;
  
}

#album{
  border:none;
  width:25%;
  padding:3%;
  
}

#info{
  border:solid 2px blue;
  max-width: 20%;
}

#player button{
  float:left;
}
#player audio::-webkit-media-controls-play-button{
  display:none; 
}

#player audio{
  height: 1em;
}

#tracklist {
  list-style-type: none;
}

.track-li {
  font-size:125%;
  font-style: italic;
  
}

.track-player::-webkit-media-controls-panel {
  background-color: rgba(255, 255, 255, 1); 
}
.track-player {
  height: 1em;
}

#album-cover{
  width:100%;
  padding:;
  border-style:solid;
  border-color:black;
  
}

#info img {
  width: 80%;
}

a{
  color:white;
}

#info{
  float:right;
  padding:3px;
  margin:3px;
}





let bigButton = document.getElementById("button");
bigButton.addEventListener("click", hitBigButton);
let canPlay = true;

let trackArr = document.querySelectorAll(".track-player");
let currentIndex = 0;

let buttArr = document.querySelectorAll(".track-li button");
for (const element of buttArr) {
  element.addEventListener("click", (e) => {hitSmallButton(e.srcElement);});
  
}



function hitBigButton() {
  if (canPlay) {
    //play the track\
    bigButton.innerHTML = '<svg viewBox="0 0 512 512" width="40px"title="pause-circle"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm-16 328c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160zm112 0c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160z"/></svg>';
   canPlay = !canPlay;
   
    trackArr[currentIndex].play()
  } else {
    //pause the track
    bigButton.innerHTML = '<svg viewBox="0 0 512 512" width="40" title="play-circle"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z"/></svg>'; 
    canPlay = !canPlay;
    
    trackArr[currentIndex].pause();
  }
}

function hitSmallButton(_sender) {
  
  //Pause current song 
  if(!canPlay) {
    trackArr[currentIndex].pause();
    
  }
  
  
 
  //nothing currently playing
  if(canPlay) {
    //change small icon to pause
    _sender.innerHTML = '<svg viewBox="0 0 512 512" width="40px"title="pause-circle"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm-16 328c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160zm112 0c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160z"/></svg>';
    
    
  //update current index to match the track/button clicked
  currentIndex = Number(_sender.getAttribute("id"));
    
    //call hitBigButton
  hitBigButton()
  
    //change current index to our index
    
    
  }
  
  //something alredy playing and its not this one
  else if (currentIndex != Number(_sender.id) ){
           
           
  }
  
  //something alredy playing and its this one
  else {
    
  }
  //change icon
}

