body{
  font-family:arial;
  margin:0px;
  
}


#bg{
  text-align:center;
}

#title{
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
  background-color:white;
  text-align:center
}

#text{
  margin-left:15%;
  margin-right:15%;
}


#links {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-content: center;
  width:100%;

}

#sticky{
  width: 100%;
  position: sticky;
  top: 0px;
  padding: 5px 0px 10px;
  background-color:white
}


#background{
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  hieght:100vw;
  z-index:-1;
  opacity:0.5;
  
}

.nav{
  display: block;
  text-decoration: none;
  text-align: center;
  color: gray;
  margin: auto;
}
