
body{
  font-family:arial;
  margin:0px;
  
}


.bg{
  text-align:center;
}

#title{
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
  background-color:white;
  text-align:center
}

#text{
  margin-left:15%;
  margin-right:15%;
  background-color:rgb(255, 250, 250, 0.5 );
  border:solid gray;
  border-radius:9px;
  padding:10px;
}


#links {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-content: center;
  width:100%;

}

#sticky{
  width: 100%;
  position: sticky;
  top: 0px;
  padding: 5px 0px 5px;
  background-color:white;
  border:solid 1px;
  
  
}


#background{
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  hieght:100vw;
  z-index:-1;
  opacity:0.5;
  
}

.nav{
  display: block;
  text-decoration: none;
  text-align: center;
  color: gray;
  margin: auto;
  flex-grow:1;
  padding:5px;
 
}

.nav:hover {
  color: rgb(0,0,0);
  background-color: #eee;
}


}

hr{
  height:3px;
  background-color:gray;
}

#footer {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  background-color:gray;
  border:gray;
  border-radius:9px;
}
#pub-info {
  flex-grow: 1;
  text-align: right;
  padding-right: 10%;
}

.vertical-bar {
  border: solid 1px black;
  height: 5lh;
  flex-grow: 0;
}

#address {
  flex-grow: 1;
  text-align: left;
  padding-left: 10%;
}

#address a {
  color: black;
}

#think{
  width:13%;
}

.one{
  float:right;
  padding:10px;
  background-color:gray;
  border:solid black;
  border-radius:9px;
  width:40%
}

.two{
  float:left;
  padding:10px;
  background-color:gray;
  border:solid black;
  border-radius:9px;
  width:40%
}
